body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-calendar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
}

.header {
  background-color: #b781fe7e;
  /* background-image: linear-gradient(
    to right top,
    #71e9cb8f,
    #b781fe96
  ); */
}

.card {
  border: none;
}

.pet-picture {
  width: 72px;
  height: 72px;
}

.figure-caption {
  text-align: center;
  color: rgb(24, 24, 24);
  font-weight: 400;
}

.btn {
  border: 0px;
  padding: 0px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}